[project]
name = "router"
version = "0.1.0"
description = ""
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "torch>=2.0.0",
    "transformers>=4.30.0",
    "datasets>=2.14.0",
    "math-verify[antlr4_13_2]",
    "accelerate>=0.20.0",
]
